{
	"openapi": "3.0.1",
	"info": {
		"title": "OpenAPI definition",
		"version": "v0"
	},
	"servers": [
		{
			"url": "http://cc4.nicotuadev.de/co-restservice",
			"description": "Generated server url"
		}
	],
	"tags": [
		{
			"name": "coupon-code-controller",
			"description": "Provides endpoint to coupon code data"
		},
		{
			"name": "monitoring-interfaces-controller",
			"description": "Provides endpoints to monitor interfaces and their respective transactions"
		}
	],
	"paths": {
		"/workflow/{dWorkflowId}/restoreWorkflow": {
			"put": {
				"tags": [
					"workflow-controller"
				],
				"summary": "Restores an archived workflow",
				"operationId": "restoreWorkflow",
				"parameters": [
					{
						"name": "dWorkflowId",
						"in": "path",
						"description": "The workflow to restore from the archive",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ProcedureResult"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/signup": {
			"put": {
				"tags": [
					"sign-ups-controller"
				],
				"summary": "update signUp",
				"operationId": "updateSignUp",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CustomerSignupChangeRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/furtherData": {
			"put": {
				"tags": [
					"service-controller"
				],
				"summary": "update itemized bill and data storing options for an existing Prepaid or Postpaid service",
				"operationId": "updateFurtherData",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateFurtherDataRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/fixedProviderChange": {
			"put": {
				"tags": [
					"service-controller"
				],
				"summary": "update provider change fields for an existing Fixed Access Service",
				"operationId": "updateFixedPrevTenant",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateFixedProviderChangeRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/fixedPrevTenant": {
			"put": {
				"tags": [
					"service-controller"
				],
				"summary": "update previous tenant fields for an existing Fixed Access Service",
				"operationId": "updateFixedPrevTenant_1",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateFixedPrevTenantRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/fixedInstallationContact": {
			"put": {
				"tags": [
					"service-controller"
				],
				"summary": "update installation contact fields for an existing Fixed Technical Service",
				"operationId": "updateFixedInstallationContact",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateFixedInstallationContactRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/fixedInstallationAddress": {
			"put": {
				"tags": [
					"service-controller"
				],
				"summary": "update the installation address for an existing Fixed Physical Access ",
				"operationId": "updateFixedInstallationAddress",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateFixedInstallationAddressDataRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/fixedHardwareShippingAddress": {
			"put": {
				"tags": [
					"service-controller"
				],
				"summary": "update the shipping address for a Fixed Hardware service",
				"operationId": "updateFixedHardwareShippingAddress",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ShippingAddress"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ShippingAddress"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/fixedEvents": {
			"put": {
				"tags": [
					"service-controller"
				],
				"summary": "update date values for a Fixed Events",
				"operationId": "updateFixedEvents",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateFixedEventsRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/fixedBuildingInformation": {
			"put": {
				"tags": [
					"service-controller"
				],
				"summary": "update the building information for an existing Fixed Physical Access ",
				"operationId": "updateFixedBuildingInformation",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateFixedBuildingInformationDataRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/fixedAccessOwner": {
			"put": {
				"tags": [
					"service-controller"
				],
				"summary": "update accessOwner fields for an existing Fixed Access service",
				"operationId": "updateFixedAccessOwnerData",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateFixedAccessOwnerDataRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/monitoring/interfaces/transactions": {
			"get": {
				"tags": [
					"monitoring-interfaces-controller"
				],
				"summary": "Get information about the transactions for the specified interface and additional search criteria",
				"operationId": "getTransactions_1",
				"parameters": [
					{
						"name": "transactionObjectId",
						"in": "query",
						"description": "Is used to identify the interface",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "status",
						"in": "query",
						"description": "Only include transactions with this status",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "transactionId",
						"in": "query",
						"description": "To filter for a specific transaction by id",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "errorMessage",
						"in": "query",
						"description": "Only include transactions, if their error messages contain this specified string",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "excludeErrorMessage",
						"in": "query",
						"description": "Negates the search for errorMessage",
						"required": false,
						"schema": {
							"type": "boolean",
							"default": false
						}
					},
					{
						"name": "objectType",
						"in": "query",
						"description": "To filter for a specific objectType",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Only include transactions, if they have this exact startDate.",
						"required": false,
						"schema": {
							"type": "string",
							"format": "date"
						}
					},
					{
						"name": "orderCriteria",
						"in": "query",
						"description": "Sort results by this criteria",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"ID",
								"START_DT",
								"PROCESS_DT"
							]
						}
					},
					{
						"name": "descendingOrder",
						"in": "query",
						"description": "If results should be sorted in descending or ascending order",
						"required": true,
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "page",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 0
						}
					},
					{
						"name": "size",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 20
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/PageMonitoringTransactionInfo"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			},
			"put": {
				"tags": [
					"monitoring-interfaces-controller"
				],
				"summary": "Reset transactions and their respective workflow items so they can be processed again",
				"operationId": "putTransactions",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/MonitoringTransactionsPutRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/MonitoringTransactionsPutResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/updateAddressAsPer": {
			"put": {
				"tags": [
					"customer-details-controller"
				],
				"summary": "Update customer's address by specific date",
				"operationId": "updateAddressAsPer",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateAddressAsPerRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "integer",
									"format": "int64"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/tags": {
			"get": {
				"tags": [
					"customer-details-controller"
				],
				"summary": "Get customer tags",
				"operationId": "getCustomerTags",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "activeOnly",
						"in": "query",
						"required": false,
						"schema": {
							"type": "boolean",
							"default": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Tag"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			},
			"put": {
				"tags": [
					"customer-details-controller"
				],
				"summary": "Updates a list of customers tags and returns the updated list of tags",
				"operationId": "updateCustomerTags",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/Tag"
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Tag"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/locks": {
			"get": {
				"tags": [
					"customer-details-controller"
				],
				"summary": "Get customer lock data",
				"operationId": "getCustomerLockData",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CustomerLocks"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			},
			"put": {
				"tags": [
					"customer-details-controller"
				],
				"summary": "Update customer locks",
				"operationId": "updateCustomerLocks",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"uniqueItems": true,
								"type": "array",
								"items": {
									"type": "string",
									"enum": [
										"LOCK_ORDERS",
										"LOCK_CUSTOMER_DATA",
										"LOCK_BANK_DATA"
									]
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CustomerLocks"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/legiPin/update": {
			"put": {
				"tags": [
					"customer-details-controller"
				],
				"summary": "Update customer data by customer id",
				"operationId": "updateLegiPin",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateCustomerCredentialsRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/contactData": {
			"put": {
				"tags": [
					"customer-details-controller"
				],
				"summary": "Update customer contact info",
				"operationId": "updateCustomerContactData",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateCustomerContactDataRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/UpdateCustomerContactDataResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/consents": {
			"get": {
				"tags": [
					"customer-details-controller"
				],
				"summary": "Get customer consents",
				"operationId": "getCustomerConsents",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CustomerConsents"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			},
			"put": {
				"tags": [
					"customer-details-controller"
				],
				"summary": "Update customer consents",
				"operationId": "updateCustomerConsents",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"uniqueItems": true,
								"type": "array",
								"items": {
									"type": "string",
									"enum": [
										"INFO_MAIL",
										"INFO_MAIL_SMS",
										"INFO_PHONE",
										"DATA_ANALYSIS_FLAG",
										"UWG_FLAG",
										"DISAGREED_MAILING",
										"CONTACT_BLACKLIST"
									]
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CustomerConsents"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/address": {
			"put": {
				"tags": [
					"customer-details-controller"
				],
				"summary": "Save address for customer by customer id",
				"operationId": "saveCustomerAddress",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Address"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/Address"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/accounts/{accountId}/billingAddress": {
			"put": {
				"tags": [
					"account-controller"
				],
				"summary": "Change a customer's billing address",
				"operationId": "editBillingAddress",
				"parameters": [
					{
						"name": "accountId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/BillingAddress"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/Address"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/workflowitems/{dWorkflowItemId}/simulateReturnCode": {
			"get": {
				"tags": [
					"workflowitem-controller"
				],
				"summary": "Simulate a return code for the specified workflowitem",
				"operationId": "getSimulateReturnCodeData",
				"parameters": [
					{
						"name": "dWorkflowItemId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/SimulateReturnCodeDataResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			},
			"post": {
				"tags": [
					"workflowitem-controller"
				],
				"summary": "Simulate a return code for the specified workflowitem",
				"operationId": "simulateReturnCode",
				"parameters": [
					{
						"name": "dWorkflowItemId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SimulateReturnCodeRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "boolean"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/workflowitems/{dWorkflowItemId}/markObsolete": {
			"post": {
				"tags": [
					"workflowitem-controller"
				],
				"summary": "Mark workflowItem as obsolete",
				"operationId": "markObsolete",
				"parameters": [
					{
						"name": "dWorkflowItemId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ProcedureResult"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/workflowitems/{dWorkflowItemId}/closeManually": {
			"post": {
				"tags": [
					"workflowitem-controller"
				],
				"summary": "Close Workflowitem Manually",
				"operationId": "closeManually",
				"parameters": [
					{
						"name": "dWorkflowItemId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ProcedureResult"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/workflow/create": {
			"post": {
				"tags": [
					"workflow-controller"
				],
				"summary": "Create workflows",
				"operationId": "createWorkflow",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/DWorkflow"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "integer",
									"format": "int64"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/validations/phonenumber": {
			"post": {
				"tags": [
					"validation-controller"
				],
				"summary": "Test if number is available",
				"operationId": "checkPhoneNumber",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ValidatePhoneNumberRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ValidationResultString"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/validations/iban": {
			"post": {
				"tags": [
					"validation-controller"
				],
				"summary": "Validates IBAN and retrieves additional bank information if valid",
				"operationId": "validateIban",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/BankData"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ValidationResultBankData"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/validations/fraenk/email/SMS": {
			"post": {
				"tags": [
					"validation-controller"
				],
				"summary": "Validate fraenk customer's email by sending SMS",
				"operationId": "requestFraenkEmailSMS",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/FraenkEmailSMSValidationRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/FraenkEmailSMSValidationResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/validations/email/update": {
			"post": {
				"tags": [
					"validation-controller"
				],
				"summary": "Update email",
				"operationId": "submitEmailSMS",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateEmailRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/validations/email/send": {
			"post": {
				"tags": [
					"validation-controller"
				],
				"summary": "Validate customer's email by sending validation E-Mail",
				"operationId": "requestEmailValidation",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/EmailValidationRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/EmailValidationResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/validations/email/format": {
			"post": {
				"tags": [
					"validation-controller"
				],
				"summary": "Validate email format",
				"operationId": "validateEmail",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ValidateEmailRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ValidationResultString"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/termination/cancel": {
			"post": {
				"tags": [
					"service-controller"
				],
				"summary": "Cancel open service termination process",
				"operationId": "cancelServiceTermination",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CancelTerminationRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CancelTerminationResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/options/add": {
			"post": {
				"tags": [
					"service-options-controller"
				],
				"summary": "Add a new option to a contract (dService)",
				"operationId": "addProductOption",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AddOptionRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/AddOptionToContractResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/options/addMultiSim": {
			"post": {
				"tags": [
					"service-options-controller"
				],
				"summary": "Add a new option to a contract (dService)",
				"operationId": "addMultiSim",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AddMultiSimRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/SignupResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/cancel": {
			"post": {
				"tags": [
					"service-controller"
				],
				"summary": "Cancel postpaid and prepaid",
				"operationId": "cancelPostpaidPrepaid",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CancelPostpaidPrepaidRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CancelPostpaidPrepaidResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/campaigns": {
			"get": {
				"tags": [
					"service-campaigns-controller"
				],
				"summary": "Get service campaign by process",
				"operationId": "getServiceCampaignByProcess",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "process",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"ADD_OPTION",
								"ADJUST_BALANCE",
								"ADD_MULTI_SIM",
								"TERMINATE_DSL",
								"ADD_VOIP",
								"NEW_HARDWARE",
								"ADD_PORTED_NUMBER",
								"TERMINATE_POSTPAID",
								"TERMINATE_OPTION",
								"CONTRACT_TAKEOVER",
								"CONTRACT_EXTENSION",
								"MOBILE_BARRING_ACTIONS",
								"MOBILE_UNBARRING_ACTIONS",
								"CANCEL_DSL",
								"SET_LOCK_DATES",
								"CANCEL_POSTPAID",
								"ACTIVATION_PREPAID",
								"TERMINATE_PREPAID",
								"TERMINATE_OLD_PREPAID",
								"HAS_CONTINUED_SIM_EXCHANGE",
								"HAS_ACTIVE_SIM_EXCHANGE",
								"CONTINUE_SIM_EXCHANGE",
								"EXCHANGE_SIM_POSTPAID_AAX",
								"EXCHANGE_SIM_PREPAID_AAX",
								"CLEAR_MNP_OPT_IN",
								"SET_MNP_OPT_IN",
								"RETRY_MNP_IN_REQEUEST",
								"CONTINUE_WITH_CONGSTAR_NUMBER",
								"PRODUCT_CHANGE",
								"OPTION_CHANGE",
								"FAIR_FLAT_OPTION_CHANGE",
								"CANCEL_OPTION",
								"CANCEL_PRODUCT_CHANGE",
								"PROLONGATE_OPTION",
								"REQUEST_PUK",
								"CANCEL_PREPAID",
								"START_BEWEISSICHERUNG",
								"STOP_BEWEISSICHERUNG",
								"CANCEL_TERMINATION",
								"CREDIT",
								"SUBSEQUENT_CHARGING",
								"BOOK_UP_CAMPAIGNS",
								"WITHOUT_PREPAID_LEGITIMATION",
								"WF_10026",
								"GET_BALANCE",
								"WF_10009",
								"WF_10008",
								"WF_10025",
								"REQUEST_BALANCE_DISBURSEMENT",
								"WF_10172",
								"RELOCATION",
								"ADD_PAID_VOIP",
								"ADD_NUMBER_FTTX",
								"LOCK_RADIUS",
								"UNLOCK_RADIUS",
								"UNLOCK_RADIUS_LOGON",
								"LOCK_VOIP",
								"UNLOCK_VOIP",
								"CHANGE_USER",
								"CHANGE_BANDWIDTH",
								"CANCEL_OPTION_TERMINATION",
								"CANCEL_OPTION_FOR_MOBILE",
								"CANCEL_OPTION_CHANGE",
								"CANCEL_CABLE",
								"CANCEL_HANDY",
								"CANCEL_HANDY_FOR_PRODUCT_CHANGE_OR_PROLONGATION",
								"SPECIAL_TERMINATION_FOR_MIGRATION",
								"CANCEL_INSTALLMENT_PLAN",
								"CANCEL_INSTALLMENT_PLAN_FOR_PRODUCT_CHANGE",
								"CANCEL_PRODUCT_PROLONGATION",
								"TERMINATE_VOIP",
								"TERMINATE_PAID_VOIP",
								"TERMINATE_EMAIL_ALIAS",
								"TERMINATE_NUMBER_FTTX",
								"E_SIM_STATUS",
								"STOP_CREDIT",
								"REACTIVATION_ORDER",
								"SIMULATE_ACTIVATION_VIA_VAS",
								"SIMULATE_KBD",
								"CHANGE_HOMESPOT_LOCATION",
								"SHOW_DATA_ACCESS_HISTORY",
								"SHOW_WORKFLOWS",
								"SET_PARTNER_CARD",
								"ADD_MOBILE_CONTRACT",
								"POSTPONE_FIXED"
							]
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Campaign"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			},
			"post": {
				"tags": [
					"service-campaigns-controller"
				],
				"summary": "add new campaigns to an already existing service and return SignupResponse",
				"operationId": "addCampaignsToService",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AddBookupCampaignsToServiceRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/SignupResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/topUp": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Request one time or recurring top ups for a customer",
				"operationId": "performInitialTopUpByServiceId",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TopUpRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/TopUpSuccessResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/terminate": {
			"get": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Get all data regarding the termination of an existing service",
				"operationId": "getTerminationServiceData",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "terminationMode",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "terminationDate",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "terminationReason",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ServiceTerminationAnalysis"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			},
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Terminate Service",
				"operationId": "terminateService",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ServiceTerminationRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ServiceTerminationResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/takeOver/newCustomer": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Contract takeover by a new customer",
				"operationId": "takeoverContract",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ContractTakeOverByNewCustomerRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ContractTakeoverResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/takeOver/existingCustomer": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Contract takeover by an existing customer",
				"operationId": "takeoverContract_1",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ContractTakeOverByExistingCustomerRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ContractTakeoverResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/stopTopUpRecurring": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Stop recurring top ups for a customer",
				"operationId": "cancelTopUpByServiceId",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/TopUpSuccessResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/stopCredit": {
			"get": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Get data related to stopping an active credit note",
				"operationId": "getStopCredit",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/StopCreditResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			},
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Submit stopping of an active credit note",
				"operationId": "submitCreditNotesByServiceId",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/StopCreditRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CreateWorkflowProcedureResult"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/setSimActive": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Activate an already purchased prepaid sim card for an existing customer",
				"operationId": "setSimActive",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/setPartnerCard": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Set partner card flag",
				"operationId": "setPartnerCard",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/PartnerCardResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/setMnpOptIn": {
			"get": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "get MnpOptIn Information",
				"operationId": "submitGetMnpOptIn",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/GetMnpOptInResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			},
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "submit MnpOptIn Information",
				"operationId": "submitMnpOptIn",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/MnpOptInResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/requestSubsequentCharging": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Request a subsequent charging for a specified service and bill",
				"operationId": "requestSubsequentCharging",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SubsequentChargingRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CreateWorkflowProcedureResult"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/removeMnpOptIn": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "submit MnpOptIn Information",
				"operationId": "removeMnpOptIn",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/RemoveMnpOptInResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/reactivateForInactiveCustomer": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Reactivating a specific dServiceId",
				"operationId": "reactivateForInactiveCustomer",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ReactivateForInactiveCustomerRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CreateWorkflowProcedureResult"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/outpaymentForInactiveCustomer": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "submitting the outpayment request for a specific dServiceId",
				"operationId": "outpaymentForCustomer",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/OutpaymentForInactiveCustomerRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CreateWorkflowProcedureResult"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/initialTopUp": {
			"get": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Get payment informations for first topup by serviceId",
				"operationId": "getInitialTopUpInfoByServiceId",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/InitialTopUpResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			},
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Perform an initial top up for a prepaid customer by serviceId",
				"operationId": "performInitialTopUpByServiceId_1",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/InitialTopUpRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/TopUpSuccessResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/exchangeSim": {
			"get": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Get all data regarding the exchange SIM process of a service",
				"operationId": "getAllExchangeSimDataForService",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "simType",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ServiceExchangeSIMAnalysis"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			},
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Exchange Sim for service by serviceId",
				"operationId": "exchangeSimByServiceId",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ExchangeSimDataRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ExchangeSimDataResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/creditNote": {
			"get": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Get credit note date by serviceId",
				"operationId": "getCreditNoteByServiceId",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CreditNote"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			},
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Submit credit note by serviceId",
				"operationId": "submitCreditNotesByServiceId_1",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SubmitCreditNotesRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/SubmitCreditNotesResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/continueWithoutMnp": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Continue without MNP",
				"operationId": "continueWithoutMNPResponseResponseEntity",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ContinueWithoutMNPResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/change": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Change product based on context",
				"operationId": "change",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "customerProcess",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"ADD_OPTION",
								"CHANGE_OPTION",
								"CHANGE_PRODUCT",
								"NEW_CONTRACT",
								"PROLONGATE_CONTRACT",
								"BOOK_UP"
							]
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ChangeProductRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ChangeProductResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/changeProduct": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Change product",
				"operationId": "changeProduct",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ChangeProductRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ChangeProductResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/changeOption": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Change option",
				"operationId": "changeOption",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ChangeOptionRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ChangeOptionResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/cancelProductChange": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Cancel the product change",
				"operationId": "cancelProductChange",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CancelProductChange"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/barrings": {
			"get": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Get barrings information for barrings change action",
				"operationId": "getBarringsInformationToChange",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/BarringsChangeAnalysis"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			},
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "submit new barrings for a service",
				"operationId": "submitBarrings",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SubmitBarringsRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"type": "integer",
										"format": "int64"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/adjustRemainingBalance": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Adjust remaining balance",
				"operationId": "adjustRemainingBalance",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AdjustRemainingBalanceRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/MessageResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/adjustBalance": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "Adjust credit balance",
				"operationId": "adjustBalance",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AdjustCreditRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/AdjustCreditResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/action/addDataPass/{dataPassServiceId}": {
			"post": {
				"tags": [
					"service-actions-controller"
				],
				"summary": "add  new dataPass",
				"operationId": "addNewDataPass",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "dataPassServiceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/AddDataPassResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/prepaid/activate": {
			"post": {
				"tags": [
					"prepaid-service-controller"
				],
				"summary": "activate prepaid service",
				"operationId": "activePrepaid",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ActivatePrepaidRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ActivatePrepaidResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/options/{optionId}/cancel": {
			"post": {
				"tags": [
					"service-options-controller"
				],
				"summary": "Cancel given option (dService)",
				"operationId": "cancelProductOption",
				"parameters": [
					{
						"name": "optionId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CancelOptionRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CreateWorkflowProcedureResult"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/product/prepaid/activate/new": {
			"post": {
				"tags": [
					"product-prepaid-controller"
				],
				"summary": "Create new prepaid customer",
				"operationId": "createCustomerPrepaid",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateCustomerPrepaidDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CreateCustomerPrepaidResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/product/postpaid/activate": {
			"post": {
				"tags": [
					"product-postpaid-controller"
				],
				"summary": "Activate postpaid",
				"operationId": "getPostpaid",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateCustomerPostpaidDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CreateCustomerPostpaidResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/product/dsl": {
			"post": {
				"tags": [
					"product-controller"
				],
				"summary": "Get available dsl products",
				"operationId": "loadDslProducts",
				"parameters": [
					{
						"name": "expanded",
						"in": "query",
						"required": false,
						"schema": {
							"type": "boolean"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/DslDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Product"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/product/actions/validateSim": {
			"post": {
				"tags": [
					"product-actions-controller"
				],
				"summary": "Validate Sim",
				"operationId": "validateSim",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ValidateSimRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ValidateSimResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/phoneNumber/reservation": {
			"post": {
				"tags": [
					"phone-number-reservation-controller"
				],
				"summary": "Get reserved phone numbers for customer",
				"operationId": "getCustomersReservedPhoneNumbers",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneNumberReservationRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/PhoneNumberReservationResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/password/reset": {
			"post": {
				"tags": [
					"password-controller"
				],
				"summary": "Reset Password",
				"operationId": "resetPassword",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ResetPasswordRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/password/change": {
			"post": {
				"tags": [
					"password-controller"
				],
				"summary": "Change password for user",
				"operationId": "setNewPassword",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PasswordChangeRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/customer": {
			"post": {
				"tags": [
					"create-customer-controller"
				],
				"summary": "Create new customer",
				"operationId": "createCustomer",
				"parameters": [
					{
						"name": "orderContext",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"PREPAID_ACTIVATION",
								"PREPAID",
								"POSTPAID",
								"HOMESPOT",
								"HARDWARE"
							]
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateCustomerDto"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/SignupResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/shippingAddresses": {
			"get": {
				"tags": [
					"customer-details-controller"
				],
				"summary": "Get a list of shipping addresses for given customer id",
				"operationId": "getShippingAddressList",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/ShippingAddress"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			},
			"post": {
				"tags": [
					"customer-details-controller"
				],
				"summary": "Save shipping address for customer by customer id",
				"operationId": "saveCustomerShippingAddress",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ShippingAddress"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/Address"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/customerData/update": {
			"post": {
				"tags": [
					"customer-details-controller"
				],
				"summary": "Update customer data by customer id",
				"operationId": "updateCustomerData",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateCustomerDataRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/actions/startLegitimation": {
			"post": {
				"tags": [
					"customer-actions-controller"
				],
				"summary": "Start customer legitimation workflow",
				"operationId": "startLegitimation",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/LegitimationWorkflowRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/LegitimationWorkflowResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/actions/securityCode/validation/skip": {
			"post": {
				"tags": [
					"customer-actions-controller"
				],
				"summary": "Skip security code for customer",
				"operationId": "skipSecurityCodeValidation",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SkipSecurityCodeValidationRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/actions/securityCode/validate": {
			"post": {
				"tags": [
					"customer-actions-controller"
				],
				"summary": "Validate security code for customer",
				"operationId": "validateSecurityCode",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ValidateSecurityCodeRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ValidateSecurityCodeResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/actions/securityCode/send": {
			"post": {
				"tags": [
					"customer-actions-controller"
				],
				"summary": "Send security code to customer",
				"operationId": "sendSecurityCode",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SendSecurityCodeRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/SendSecurityCodeResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/actions/resetCscPassword": {
			"post": {
				"tags": [
					"customer-actions-controller"
				],
				"summary": "Reset CSC (Customer Self Care) Password",
				"operationId": "resetCscPassword",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ResetCscPasswordRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CreateWorkflowProcedureResult"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/actions/markAsDeleted": {
			"post": {
				"tags": [
					"customer-actions-controller"
				],
				"summary": "Mark a customer as deleted",
				"operationId": "markAsDeleted",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/actions/invoice/recall": {
			"post": {
				"tags": [
					"customer-actions-controller"
				],
				"summary": "Recall Invoice for specifc timeframe",
				"operationId": "recallInvoiceByTimeframe",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/RecallInvoiceByTimeframeRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CreateWorkflowProcedureResult"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/actions/contactReason": {
			"post": {
				"tags": [
					"customer-actions-controller"
				],
				"summary": "Save customer contact reason",
				"operationId": "saveCustomerContactReason",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SaveContactReasonRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/Communication"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/{customerId}/actions/addMobileContract": {
			"post": {
				"tags": [
					"customer-actions-controller"
				],
				"summary": "Customer adds mobile product",
				"operationId": "addMobileContract",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "orderContext",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"PREPAID_ACTIVATION",
								"PREPAID",
								"POSTPAID",
								"HOMESPOT",
								"HARDWARE"
							]
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AddContractRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/SignupResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/actions/sendPreContractualInformation": {
			"post": {
				"tags": [
					"customer-actions-controller"
				],
				"summary": "Send pre contractual information to existing customer",
				"operationId": "sendPreContractualInformation",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PreContractualInformationRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/TKGPair"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/customer/actions/createPreviewPDF": {
			"post": {
				"tags": [
					"customer-actions-controller"
				],
				"summary": "Create preview of pre contractual information for existing customer",
				"operationId": "createPreviewPDF",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PreContractualInformationRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CustomerDocument"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/communications/{communicationId}/assign": {
			"post": {
				"tags": [
					"communications-controller"
				],
				"summary": "Save customer contact reason",
				"operationId": "assignContractAndWorkflow2Communication",
				"parameters": [
					{
						"name": "communicationId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AssignData2CommunicationRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/common/actions/ticketSubjects": {
			"post": {
				"tags": [
					"common-actions-controller"
				],
				"summary": "Return columns for decision tree",
				"operationId": "ticketSubjects",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/DecisionTreeRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/DecisionTreeResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/basket/calculate": {
			"post": {
				"tags": [
					"basket-controller"
				],
				"summary": "Calculate basket information by selected products, options and hardware",
				"operationId": "calculateBasket",
				"parameters": [
					{
						"name": "customerProcessMode",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"ADD_OPTION",
								"CHANGE_OPTION",
								"CHANGE_PRODUCT",
								"NEW_CONTRACT",
								"PROLONGATE_CONTRACT",
								"BOOK_UP"
							]
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CalculateBasketRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/Basket"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/authenticate": {
			"post": {
				"tags": [
					"jwt-authentication-controller"
				],
				"operationId": "createAuthenticationToken",
				"requestBody": {
					"content": {
						"application/x-www-form-urlencoded": {
							"schema": {
								"$ref": "#/components/schemas/JwtUser"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "object"
								}
							}
						}
					}
				}
			}
		},
		"/address/validation": {
			"post": {
				"tags": [
					"address-controller"
				],
				"summary": "Get Addresses by address input",
				"operationId": "validateAddress",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/Address"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Address"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/accounts/{accountId}/changeBankDataAsPer": {
			"post": {
				"tags": [
					"account-controller"
				],
				"summary": "Change a customer's bank data at a specified date",
				"operationId": "changeBankDatAsPer",
				"parameters": [
					{
						"name": "accountId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ChangeBankDataAsPerRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ChangeBankDataAsPerResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/workflowitems/{dWorkflowItemId}/transactions": {
			"get": {
				"tags": [
					"workflowitem-controller"
				],
				"summary": "Get all transactions by a workflow item",
				"operationId": "getTransactions",
				"parameters": [
					{
						"name": "dWorkflowItemId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/WorkflowItem"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/workflowitems/{dWorkflowItemId}/history": {
			"get": {
				"tags": [
					"workflowitem-controller"
				],
				"summary": "Get all available return codes for the specified workflowitem",
				"operationId": "getHistory",
				"parameters": [
					{
						"name": "dWorkflowItemId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/WorkflowItem"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/workflowitems/{dWorkflowItemId}/details": {
			"get": {
				"tags": [
					"workflowitem-controller"
				],
				"summary": "get a specific workflowitem",
				"operationId": "getWorkflowItem",
				"parameters": [
					{
						"name": "dWorkflowItemId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/WorkflowItem"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/workflow/workflows/{dWorkflowId}": {
			"get": {
				"tags": [
					"workflow-controller"
				],
				"summary": "Get workflowdetails for the specified workflows",
				"operationId": "getWorkflowDetails",
				"parameters": [
					{
						"name": "dWorkflowId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/WorkflowDetail"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/workflow/workflows/{dWorkflowId}/workflowitems": {
			"get": {
				"tags": [
					"workflow-controller"
				],
				"summary": "Get a list of all workflowitems accosiated to the specified workflow",
				"operationId": "getWorkflowItemList",
				"parameters": [
					{
						"name": "dWorkflowId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/WorkflowItem"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/workflow/customer/{customerId}/recent": {
			"get": {
				"tags": [
					"workflow-controller"
				],
				"summary": "Get customer recent workflows",
				"operationId": "getCurrentWorkflow",
				"parameters": [
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "dWorkflowId",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "wWorkflowId",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					},
					{
						"name": "status",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/DWorkflow"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/user/role": {
			"get": {
				"tags": [
					"user-role-controller"
				],
				"summary": "Get all roles and related functions of user",
				"operationId": "getRoles",
				"parameters": [
					{
						"name": "apiKey",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/Role"
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/customers": {
			"get": {
				"tags": [
					"user-controller"
				],
				"summary": "Get last accessed customers for logged in user",
				"operationId": "getLastCustomers",
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/BasicCustomerData"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/signup/{signUpId}": {
			"get": {
				"tags": [
					"sign-ups-controller"
				],
				"summary": "get specific customer documents by documentId",
				"operationId": "getSignUpBySignUpId",
				"parameters": [
					{
						"name": "signUpId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/CustomerSignup"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/workflows": {
			"get": {
				"tags": [
					"service-controller"
				],
				"summary": "Get associated workflows for a specific service",
				"operationId": "getWorkflowsByServiceId",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/ServiceWorkflowDto"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/usage": {
			"get": {
				"tags": [
					"service-controller"
				],
				"summary": "Get all data usage by serviceId",
				"operationId": "getAllTypedDataUsageByServiceId",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/ServiceDataUsage"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/topUps": {
			"get": {
				"tags": [
					"service-controller"
				],
				"summary": "Get all previous top ups by serviceId",
				"operationId": "getAllTopUpsByServiceId",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/TopUp"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/signUps": {
			"get": {
				"tags": [
					"service-controller"
				],
				"summary": "Get all signUps by serviceId",
				"operationId": "getAllSignUpsByServiceId",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/CustomerSignup"
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/serviceData/{targetServiceId}": {
			"get": {
				"tags": [
					"service-controller"
				],
				"summary": "Get possible change date for service",
				"operationId": "getServiceData",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "targetServiceId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "customerProcessMode",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"ADD_OPTION",
								"CHANGE_OPTION",
								"CHANGE_PRODUCT",
								"NEW_CONTRACT",
								"PROLONGATE_CONTRACT",
								"BOOK_UP"
							]
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ServiceToServiceResponse"
								}
							}
						}
					}
				},
				"security": [
					{
						"oAuth2": []
					}
				]
			}
		},
		"/service/{serviceId}/retryMnpIn": {
			"get": {
				"tags": [
					"service-controller"
				],
				"summary": "Retry an already running MNP process",
				"operationId": "getRetryMnpInfo",
				"parameters": [
					{
						"name": "serviceId",
						"in": "path",
						"required": true,
						"schema": {
[...]
